:root {
  box-sizing: border-box;
  font: normal 10px / 1.5 sans-serif;

  --control-lightness: 25%;
  --control-lightness-focus: 40%;
  --background: white;
}

* {
  box-sizing: inherit;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  font-size: 2rem;
  background: var(--background);
}

h1 {
  font-size: 3.6rem;
}

p {
  align-items: center;
  display: flex;
  position: relative;
  border: .5rem solid var(--background);
  border-radius: .5rem;
  gap: .5rem;
}

input,
button,
[type=checkbox] + label::before {
  border: 2px solid #888;
  border-radius: .5rem;
  font-size: inherit;
  padding: .5rem;
}

p:focus-within {
  outline: 2px dotted black;
}

button {
  border: 0.3rem var(--background) solid;
  background: hsl(240, 100%, var(--control-lightness));
  color: white;
  font-size: 2.4rem;
  padding: 1rem 2rem;

  &:focus {
    background: hsl(240, 100%, var(--control-lightness-focus));
    outline: 2px dotted black;
  }
}

[type=checkbox] {
  position: absolute;
  inset-inline-start: -9999rem;

  & + label {
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
  }

  & + label::before {
    content: '\00a0';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    inline-size: 2.5rem;
    block-size: 2.5rem;
    line-height: 1;
  }

  &:checked + label::before {
    content: '✔︎';
    border-radius: .5rem;
  }
}

[type=text], [type=number] {
  font-size: 3rem;
}

output {
  display: inline-flex;
  align-items: baseline;
  gap: .5rem;

  & strong {
    font-size: 6rem;
  }
}
